.logo {
  width: 50%;
  margin: 3% 0% 3% 0%;
}

.background {
  background-image: url('./background.png');
  background-size: cover;
}

.trends {
  display: flex;
  width: 50px;
  padding-left: 10px;
  padding-top: 10px;
}
