.user-icon {
  width: 30px;
  height: 100%;
}

.trend-icon {
  width: 30px;
  height: 100%;
}

.cat-icon {
  width: 30px;
  height: 100%;
}

.Navbar {
  background-color: #f0eeee;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
