.user-icon {
  width: 40px;
  height: 100%;
}

.trend-icon {
  width: 40px;
  height: 100%;
}

.cat-icon {
  width: 40px;
  height: 100%;
}

.Navbar {
  background-color: #f0eeee;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
